
body {
  height: 100vh;
  background-color: black;
  background-image: url(imagens/wallpaper002.jpg);
  background-position: center center;
  background-repeat: repeat-y;
  background-attachment: fixed; /*imagem de fundo nao movimenta*/
  background-size: cover;  /*cobrir o fundo inteiro*/

  /* SHORTHANDS BACKGROUND
    COLOR > IMAGE > POSITION > REPEAT > {SIZE} > ATTACHMENT
    */
}

main {
  background-color: white;
  max-width: 400px;
  padding: 10px;
  margin: auto;
  border: 1px solid darkblue;
  border-radius: 15px;
}