body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div > p {
  display: none;
}

div:hover > p {
  display: block;
  background-color: chartreuse;
  color: white;
  width: 200px;
}

div:hover {
  color: red;
}